{% extends "page.html" %}
{% block content %}

<h1>Answer</h1>

<form method="post" action="http://api.lonely-people.com/questions/{{ qid }}/{{ answer_number }}">
<div class="form-group">
   <label for="answer-text">Answer text</label>
   <input type="text" value="{{ answer_text }}" name="answer_text" class="form-control" id="answer-text" placeholder="Left wing">
 </div>
<button type="submit">Submit</button>
</form>
{% if in_edit_mode %}
<form method="post" action="http://api.lonely-people.com/delete_answer/{{ qid }}/{{ id }}">
<button type="submit">Delete answer</button>
</form>
{% endif %}


{% endblock %}
