{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Forums</h1>
  {% for category in categories %}
    <a href="/categories/{{category[0]}}"><h2>{{ category[1] }}</h2></a>
    {% for thread in threads[category[1]] %}
      <a href="/categories/{{category[0]}}/thread/{{ thread[0] }}"><h3>{{ thread[1] }}</h3></a>
    {% endfor %}
    <form method="post" action="/thread">
      Name <input type="text" name="title"/>
      <input type="hidden" name="category" value="{{ category[0] }}"/>
      <textarea name="body"></textarea>
      <button type="Submit">Submit</button>
    </form>
  {% endfor %}
  <h2>Insert category</h2>
  <form method="post" action="/">
    Name <input type="text" name="category"/>
    <button type="Submit">Submit</button>
  </form>
{% endblock %}
