{% extends "page.html" %}
{% block content %}

<ol>

<div>
<span style="color: grey; font-size; 16pt">{{ post[2] }}pts</span> {{ post[0] }}
<span style="color: grey; font-size; 16pt">
    {{ post[1] }}
</span>
</div>

{% for post in posts %}
<div style="position: relative; left: {{ post[3] * 15 }}px">
<div style="color: #838383; font-size; 16pt">{{ post[1] }} {{ post[5] }}pts <a href="/reply/{{ pid }}/{{ post[2] }}">reply</a>
    <form  style="display: inline" method="post" action="/comment-upvote/{{ pid }}/{{ post[2] }}">

    <button style="display: inline">^</button>
    </form>
</div>
<div style="color: black; font-size; 16pt">{{ post[0] }}</div>
</div>
{% endfor %}

</ol>


<h1>Send message to community</h1>
Type your message below.

<form method="post" action="/comments/{{ pid }}/new">
        <div>
            <div>Reply:</div>
            <textarea name="message" placeholder="Type a message" style="width: 400px; height: 300px"></textarea>

        </div>

            <button type="submit">Reply</button>

</form>

{% endblock %}
