{% extends "page.html" %}
{% block content %}

Protected page {{ user_id }}

<form method="post" action="http://api.lonely-people.com/private/SESSION/USER/logout"><button>Logout</button></form>

<script>

var session_id = String(document.location).split("/")[4]
console.log(session_id);
var user_id = String(document.location).split("/")[5]
console.log(user_id);
for (var form of document.forms) {
    form.action = form.action.replace("SESSION", session_id);
    form.action = form.action.replace("USER", user_id);
}

for (var element of document.querySelectorAll("a")) {
    element.href = element.href.replace("SESSION", session_id);
    element.href = element.href.replace("USER", user_id);
};
</script>

{% endblock %}
