{% extends "page.html" %}
{% block content %}

<h1>Lonely Person Community</h1>

<p>This website helps you find people who believe the same things as you do.</p>

<p>Are you tired of not having a place to discuss things?</p>

<p>This is a discussion website powered by opinions. It works like this:</p>

<ol>
    <li>You take a quiz</li>
    <li>Your results are analysed</li>
    <li>Based on the results of the quiz, a community is created for you or if it already exists, you are sent to it.</li>
    <li>You can create comments on your community page.</li>
    <li>You can bookmark the community page by clicking 'Link to community'.</li>
    <li>You can add your own questions by clicking <a href="/add/new">Add question</a>.</li>
</ol>

<h1>Take a questionnaire</h1>

<a href="http://lonely-people.com/questionnaire">Take a questionnaire</a> to find a community!

{% include "form_lookup.html" %}

{% endblock %}
