{% extends "page.html" %}
{% block content %}

<h1>Questionnaire</h1>

<form method="post">
{% for question in questions %}

{{ question.text }}

{% for answer in question.answers %}

<div class="form-check">
  <input class="form-check-input" type="radio" name="{{ question.short }}" id="{{ answer.id }}" value="{{ answer.text }}">
  <label class="form-check-label" for="{{ answer.id }}">
    {{ answer.text }}
  </label>
</div>

{% endfor %}

{% endfor %}

<button type="submit">Submit</button>
</form>

{% endblock %}
